footer {
    display: flex;
    justify-content: space-between;
    background-color: #489196;
    padding: 40px 64px;
    color: #ffffff;
    margin-top: 32px;
    

    H4 {
        margin-bottom: 12px;
        font-weight: 800;
    }

    img {
        height: 54px;
    }

}

.footer-right {
    display: flex;
    gap: 16px;
}

.email {
    font-weight: 400;
}

.icon-link-container {
    display: flex;
    justify-content: end;
    gap: 12px;
    img {
        height: 32px;
    }
}

.copyright {
    font-size: 14px;
    margin-top: 6px;
    opacity: 80%;
}
