@import "./variables.scss";

body {
    background-image: url("./assets/background.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
}

#intro {
    height: calc(75vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 64px;
}

#works {
    width: 100vw;
    padding: 32px 16px;
}

.work-row {
    display: flex;
    justify-content: center;
    padding: 32px 0;
}

.work-card {
    width: calc(50% - 32px);
    padding: 0 16px;
}

.card-img-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 360px;
    overflow: hidden;
    border-radius: 16px;
    margin-bottom: 12px;

    img {
        display: block;
        max-width: 100%;
    }
}

.work-tag {
    margin-bottom: 4px;
}

#experience {
    padding: 16px 64px;

    H2 {
        margin-bottom: 20px;
    }
}

.experience {
    display: flex;
    gap: 32px;
}