@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Mynerve&display=swap');

/*Text*/
$text-sans: 'Mulish', 'Inter', 'Helvetica', sans-serif;
$text-hand: 'Mynerve', sans-serif;


/*Color*/
$primary-color: #0A9BA5;
$bg-color: #F9F9F9;
$text-color: #212121;
$text-grey: #7a7a7a;

/*Layout*/
$section-padding: 36px;